<html>
	<head>
		<title><%- react %></title>
		<link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/modules/react-bootstrap-table/css/react-bootstrap-table.min.css">
	</head>
	<body>
		<div id="content" react="<%- react %>" />
		<script src="/build/bundle.js"></script>
	</body>
</html>